body{
	font-family: 'Montserrat', sans-serif;
	background-image: url('laptop.jpg') ;
	background-size: cover;
	background-repeat:  no-repeat;
	letter-spacing: 2px;
}

h1{
	display: flex;
	justify-content: center;
	margin-top: 250px;
	text-align: center;
	font-size: 120px;
}




.button1{
	display: flex;
	justify-content: center;
	margin-top: 175px;
	margin-bottom: 50px;

}

a{
	color: white;
	text-decoration: none;
}
